<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
    <security>
      <requestFiltering>
        <verbs allowUnlisted="false">
           <add allowed="true" verb="DELETE" />
           <add allowed="true" verb="GET" />
           <add allowed="true" verb="POST" />
           <add allowed="true" verb="PUT" />
           <add allowed="true" verb="OPTIONS" />
        </verbs>
      </requestFiltering>
    </security>


      <!-- <cors enabled="true" failUnlistedOrigins="true">
            <add origin="https://localhost"
                 allowCredentials="true"> 
                <allowMethods>
                     <add method="DELETE" />
                     <add method="GET" />
                     <add method="POST" />
                     <add method="PUT" />
                     <add method="OPTIONS" />
                </allowMethods>
            </add>
        </cors> -->
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\TransIT.API.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="InProcess" />
    </system.webServer>
  </location>
</configuration>